// Release build configuration.

MARKETING_VERSION = 3.5.5
CURRENT_PROJECT_VERSION = 40

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
GCC_OPTIMIZATION_LEVEL = s
ENABLE_NS_ASSERTIONS = NO
VALIDATE_PRODUCT = YES

APS_ENVIRONMENT = production
